.card{
    height: 13rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 15rem;
    margin: 3rem;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.card:hover{
    transition:ease-in-out 100ms;
    transform: scale(102%);
}

.card-title {
    font-weight: bold;
    font-size: 1.1rem;
}

.card-desc{
    color: darkgray;
    font-size: 0.8rem;
}

.card-logo{
    font-size: 5rem;
}